html {
    user-select: none; /* Disable zooming */
    touch-action: none;
    user-zoom: 0;
}

body {
    background-color: rgb(37, 37, 96);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none; /* Disable zooming */
    touch-action: none;
}   @media screen and (max-height: 440px) {
    .body {
        height: 10vh;
        user-select: none; /* Disable zooming */
        touch-action: none;
    }
}

.game-background-image {
    z-index: -1;
    position: fixed; /* Set position to 'absolute' */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image using translate */
 /* Maintain aspect ratio without resizing */
    background-image: url('components/background/battle-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 600px;
    width: 1000px;
    border-radius: 2%;
}   @media screen and (max-height: 430px) {
    .game-background-image {
        width: 738px;
        height: 342px;
    }
}

* {
    /* border: solid red 1px; */
    font-family: 'Pixelify Sans', sans-serif;
}

button {
    color: #000;
}