.bottom-info {
    z-index: 1;
    /* toggle display flex to none and back on and off when selecting through menus */
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 2%;
}    @media screen and (max-height: 430px) {
    .bottom-info {
        transition: opacity 0.5s ease-in-out;
        background-color: rgba(255, 235, 205, 0.7); /* Set opacity to 0.5 for screens less than 430px */
        height: 95px;
        top: 74%;
        width: 82%;
    }
}

.bottom-info.fade-in {
    opacity: 1; /* Make visible */
}

.context-info {
    display: flex;
    height: 120px;
    width: 380px;
    text-align: center;
    margin-left: 85px;
    margin-right: 85px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}   @media screen and (max-height: 430px) {
    .context-info {
        margin-left: 50px;
        margin-right: 50px;
    }
}



.four-attack-buttons {
    height: 120px;
    display: flex;
    align-items: center;
}

.two-attack-buttons {
    height: 120px;
    width: 220px;
}   @media screen and (max-height: 430px) {
    .two-attack-buttons {
        height: 100px;
    }
}

.attack-btn {
    width: 220px;
    height: 60px;
    transition: transform 0.1s ease-in-out;
}   @media screen and (max-height: 430px) {
    .attack-btn {
        height: 50px;
    }
}

.attack-btn:hover {
    background-color: rgb(192, 192, 192);
}

.attack-btn:active {
    transform: scale(0.9);
}

#swap-btn {
    display: none;
}

#swap-btn:hover {
    background-color: rgb(192, 192, 192);
}

#swap-btn:active {
    transform: scale(0.9);
}