/* fist menu with game mode buttons and info for geeks button */
.menu {
    display: flex;
    /* toggle display flex to none and back on and off when selecting through menus */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 300px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 2%;
}   @media screen and (max-height: 430px) {
        .menu {
            top: 43%;
            height: 350px;
            width: 280px;
        }
}

/* buttons inside first menu */

.menu-button {
    width: 80%;
    transition: transform 0.1s ease-in-out;
}

.menu-button:hover {
    background-color: rgb(187, 186, 186);
}

.menu-button:active {
    transform: scale(0.9);
}

/* second menu for singleplayer with mokepon selection, back and next buttons */

.second-menu {
    display: none;  /* toggle this on and off when selecting through menus */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 550px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 2%;
}   @media screen and (max-height: 430px) {
        .second-menu {
            top: 43%;
            height: 350px;
            width: 500px;
        }
}

/* mokepon type texts and images for buttons */
/* electric mokepon */
.electric-text {
    margin-top: -25px;
    border: solid yellow 2px;
    background-color: rgba(255, 255, 0, 0.514);
}   @media screen and (max-height: 430px) {
        .electric-text {
            margin-top: 0px;
        }
}

.beedrill-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .beedrill-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

.pikachu-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .pikachu-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

/* water mokepon */
.water-text {
    margin-top: -25px;
    border: solid darkturquoise 2px;
    background-color: rgb(0, 187, 190);
}   @media screen and (max-height: 430px) {
        .water-text {
            margin-top: 0px;
        }
}

.bulbasaur-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .bulbasaur-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

.wartortle-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .wartortle-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

/* grass mokepon */
.grass-text {
    margin-top: -25px;
    border: solid green 2px;
    background-color: rgba(0, 128, 0, 0.692);
}   @media screen and (max-height: 430px) {
        .grass-text {
            margin-top: 0px;
        }
}

.caterpie-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .caterpie-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

.kricketune-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .kricketune-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}

/* fire mokepon */
.fire-text {
    margin-top: -25px;
    border: solid red 2px;
    background-color: rgba(255, 0, 0, 0.703);
}   @media screen and (max-height: 430px) {
        .fire-text {
            margin-top: 0px;
        }
}

.charizard-btn-image {
    margin-top: 5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .charizard-btn-image {
            margin-top: -15px;
            scale: 1.2;
        }
}

.rapidash-btn-image {
    margin-top: -5px;
    scale: 2;
}   @media screen and (max-height: 430px) {
        .rapidash-btn-image {
            margin-top: -15px;
            scale: 1.5;
        }
}


/* actual mokepon selection buttons */

.mokepon-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mokepon-selection-button {
    width: 120px;
    height: 160px;
    background-color: bisque;
    transition: transform 0.2s ease-in-out;
}

@media screen and (max-height: 430px) {
    .mokepon-selection-button {
        width: 110px;
        height: 125px;
    }
}

.mokepon-selection-button:hover {
    background-color: rgb(255, 200, 133);
}

.mokepon-selection-button:active {
    transform: scale(0.5);
}

.clicked {
    background-color: rgb(255, 175, 77);
    color: white;
}

/* next and back buttons for single player */

.next-and-back-btn {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.next-menu-button {
    width: 70%;
    transition: transform 0.2s ease-in-out;
}

.next-menu-button:hover {
    background-color: rgb(187, 186, 186);
}

.next-menu-button:active {
    transform: scale(0.9);
}

.back-menu-button {
    width: 30%;
    transition: transform 0.2s ease-in-out;
}

.back-menu-button:hover {
    background-color: rgb(187, 186, 186);
}

.back-menu-button:active {
    transform: scale(0.9);
}


.end-menu {
    display: none;  /* toggle this on and off when selecting through menus */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 300px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 2%;
}      @media screen and (max-height: 430px) {
    .end-menu {
        top: 43%;
        height: 350px;
        width: 280px;
    }
}

/* buttons inside first end-menu */

.end-menu-button {
    width: 80%;
    transition: transform 0.1s ease-in-out;
}

.end-menu-button:hover {
    background-color: rgb(187, 186, 186);
}

.end-menu-button:active {
    transform: scale(0.9);
}

/* THIS IS WHERE CSS FOR MULTIPLAYER MENU STARTS */
/* second menu for multiplayer */
.second-menu-multiplayer {
    display: none;  /* toggle this on and off when selecting through menus */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 300px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 2%;
}

/* mokepon type texts */

.electric-text-multiplayer {
    margin-top: -25px;
    border: solid yellow 2px;
    background-color: rgba(255, 255, 0, 0.514);
}

.water-text-multiplayer {
    margin-top: -25px;
    border: solid darkturquoise 2px;
    background-color: rgb(0, 187, 190);
} 

.grass-text-multiplayer {
    margin-top: -25px;
    border: solid green 2px;
    background-color: rgba(0, 128, 0, 0.692);
} 

.fire-text-multiplayer {
    margin-top: -25px;
    border: solid red 2px;
    background-color: rgba(255, 0, 0, 0.703);
} 

/* actual mokepon selection buttons for multiplayer */

.mokepon-selection-multiplayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mokepon-selection-button-multiplayer {
    width: 120px;
    height: 160px;
    background-color: bisque;
    transition: transform 0.2s ease-in-out;
}

.mokepon-selection-button-multiplayer:hover {
    background-color: rgb(255, 200, 133);
}

.mokepon-selection-button-multiplayer:active {
    transform: scale(0.5);
}

/* next and back buttons for multiplayer player */


.next-and-back-btn-multiplayer {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.next-menu-button-multiplayer {
    width: 70%;
    transition: transform 0.2s ease-in-out;
}

.next-menu-button-multiplayer:hover {
    background-color: rgb(187, 186, 186);
}

.next-menu-button-multiplayer:active {
    transform: scale(0.9);
}

.back-menu-button-multiplayer {
    width: 30%;
    transition: transform 0.2s ease-in-out;
}

.back-menu-button-multiplayer:hover {
    background-color: rgb(187, 186, 186);
}

.back-menu-button-multiplayer:active {
    transform: scale(0.9);
}

.clicked-multiplayer {
    background-color: rgb(255, 175, 77);
    color: white;
}




/* pixel art borders for the buttons from  */
/* https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4&border=1&border_width=1&border_color=#000000 */


.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
    position: relative;
}