body {
    background-color: rgb(37, 37, 96);
    border: solid red 1px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.game-background-image {
    z-index: -1;
    position: fixed; /* Set position to 'absolute' */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image using translate */
 /* Maintain aspect ratio without resizing */
    background-image: url('components/background/battle-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 600px;
    width: 1000px;
    border-radius: 2%;
}



* {
    /* border: solid red 1px; */
    font-family: 'Pixelify Sans', sans-serif;
}